.about-headline {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 50px;

  .about-h1 {
    text-align: center;
    margin-bottom: 36px;
  }

  .about-p2-container {
    background-color: white;
    border: 1px solid $gray;
    text-align: center;
    padding: 20px;
    margin-bottom: 26px;
  }

  .about-p5 {
    font-size: 14px;
    font-weight: 600;
    color: #5e6067;
    text-align: center;
    max-width: 85%;
    line-height: 24px;

    span {
      color: initial;
      border-bottom: 1px solid ;
    }
  }
}

.logo-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 30px 20px 50px;

  h3 {
    font-size: 22px;
    max-width: 80%;
    margin-bottom: 20px;
    line-height: 30px;
  }

  .logo-description {
    font-size: 15px;
    max-width: 80%;
    line-height: 22px;
    margin-bottom: 40px;
  }

  .logo {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 30px;
    box-sizing: border-box;
    border: 1px solid $gray;
    font-weight: 600;

    img {
      width: 90px;
    }

    p {
      font-size: 34px;
      line-height: 34px;
      text-align: start;

      span {
        font-size: 30px;
      }
    }
  }
}

