@import 'variables';

header {
  background-color: rgba(244, 244, 244, 0.8);
  padding: 16px 30px 6px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  img {
    width: 40px;
    cursor: pointer;
  }

  .logo {
    display: none;
  }

  nav {
    display: none;
  }
}

#mobile-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 60px 30px 60px 60px;
  background-color: rgba($color: white, $alpha: 0.8);
  backdrop-filter: blur(5px);
  color: $red;
  font-size: 36px;
  font-weight: 700;

  li {
    margin-bottom: 10px;
  }

  i {
    float: right;
    margin-right: 30px;
    cursor: pointer;
  }
}

.headline-section {
  background-color: rgb(244, 244, 244);
  padding: 30px 20px 80px 20px;

  .p1 {
    color: $red;
    font-size: 22px;
    margin-bottom: 8px;
  }

  h1 {
    color: $red;
    font-family: $coco;
    font-size: 34px;
    line-height: 40px;
    margin-bottom: 20px;
  }

  .p2-container {
    font-weight: 600;
    line-height: 24px;
    font-size: 15px;
    border: 4px solid white;
    padding: 15px;
    margin-bottom: 20px;
    color: #746f6f;
  }

  .p3 {
    font-family: $coco;
    font-size: 28px;
    margin-bottom: 5px;
  }

  .p4 {
    font-size: 17px;
  }
}

@media only screen and (min-width: 768px) {
  #hamburger-menu {
    display: none;
  }

  header {
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding-left: 15%;
    padding-right: 15%;

    .logo {
      display: initial;
      flex-shrink: 0;
      margin-right: 30px;

      a {
        display: flex;
        gap: 2px;
        font-weight: 700;
      }

      span {
        font-size: 15px;
      }
    }

    nav {
      display: flex;
      align-items: center;

      ul {
        display: flex;
        gap: 50px;

        li:nth-child(1) {
          color: $red;
        }
      }

      button {
        margin-left: 50px;
        border: 4px solid $red;
        padding: 10px 15px;
        background-color: white;
        color: $red;
        flex-shrink: 0;
      }
    }
  }

  .headline-section {
    padding: 8% 15% 12%;
    .p1 {
      font-size: 36px;
    }

    h1 {
      font-size: 52px;
      font-weight: 400;
      line-height: 48px;
      max-width: 500px;
    }

    .p2-container {
      max-width: 500px;
    }
  }
}


