@import 'variables';

#program-section {
  background-color: $black;
  padding: 40px 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h3 {
    color: white;
    font-size: 22px;
    font-weight: 400;
    text-align: center;
  }

  hr {
    width: 40px;
    height: 1px;
    background-color: $red;
    border: none;
    margin-top: 15px;
    margin-bottom: 30px;
  }

  button {
    background-color: $red;
    color: white;
    font-size: 20px;
    padding: 30px 40px;
    margin-top: 40px;
    cursor: pointer;
    border: none;
  }
}

#programs-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 1fr;
  row-gap: 10px;

  .program-container {
    background-color: #474b54;
    display: flex;
    gap: 40px;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;

    p {
      font-size: 14px;
      color: white;
      line-height: 24px;
      max-width: 400px;
    }

    div {
      display: flex;
      align-items: center;
      max-width: 80px;

      i {
        font-size: 34px;
        margin-right: 12px;
        color: white;
      }

      p {
        color: $red;
        font-size: 18px;
        font-weight: 600;
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  #program-section {
    padding: 5% 10% 8%;

    button {
      background-color: inherit;
      border-bottom: 1px solid white;
      padding: 0;
      margin-top: 70px;
    }
  }

  #programs-container {
    grid-template-columns: repeat(5, 1fr);
    column-gap: 4px;

    .program-container {
      flex-direction: column;
      text-align: center;
      min-height: 225px;
      max-width: 200px;
      gap: 20px;

      p {
        max-width: none;
      }

      div {
        flex-direction: column;
        max-width: none;

        i {
          margin-bottom: 8px;
          margin-right: 0;
        }

        p {
          font-size: 20px;
        }
      }
    }
  }
}
