@import 'variables';

#speakers-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px 20px 30px 30px;

  h3 {
    font-size: 22px;
    margin-bottom: 50px;

    hr {
      width: 50px;
      border-top: none;
      border-width: 2px;
      border-color: $red;
    }
  }

  .speaker-container {
    position: relative;
    display: flex;
    gap: 5%;
    margin-bottom: 50px;

    .checkboard {
      width: 60px;
      position: absolute;
      top: -15px;
      left: -16px;
      z-index: -100;
    }

    .speaker-img {
      width: 125px;
      height: 125px;
      object-fit: cover;
      object-position: bottom;
      flex-shrink: 0;
    }

    .name {
      font-size: 20px;
      margin-bottom: 8px;
    }

    .role {
      color: $red;
      font-style: italic;
      font-size: 16px;
    }

    hr {
      width: 30px;
      border-color: $gray;
      margin: 8px 0;
    }

    .description {
      font-size: 14px;
      line-height: 18px;
      font-weight: 400;
    }
  }

  .more-btn {
    border: 1px solid $gray;
    background-color: white;
    color: $black;
    width: 100%;
    padding: 18px;
    font-size: 16px;
    cursor: pointer;

    i {
      color: $red;
      margin-left: 8px;
    }
  }

  .speaker-container:nth-child(2),
  .speaker-container:nth-child(3),
  .speaker-container:nth-child(4),
  .speaker-container:nth-child(5) {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .more-btn {
    display: none;
  }

  #grid-container {
    display: grid;
    grid-template-columns: repeat(2, 40%);
    grid-template-rows: 3;

  .speaker-container:nth-child(2),
  .speaker-container:nth-child(3),
  .speaker-container:nth-child(4),
  .speaker-container:nth-child(5) {
    display: none;
  }
  }
}
