$black: #272A31;
$red: #EC5242;
$gray: #D3D3D3;
@font-face {
  font-family: 'Cocogoose';
  src: url(/cocogoose/Cocogoose_trial.otf) format('truetype');
}
$coco: 'Cocogoose', sans-serif;
$lato: 'Lato', sans-serif;