$black: #272a31;
$red: #ec5242;
$gray: #d3d3d3;

@font-face {
  font-family: 'Cocogoose';
  src: url(/cocogoose/Cocogoose_trial.otf) format('truetype');
}

$coco: 'Cocogoose', sans-serif;
$lato: 'Lato', sans-serif;
