@import 'header-headline';
@import 'variables';
@import 'program';
@import 'speakers';

p,
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

button {
  font-family: $lato;

}

body {
  font-family: $lato;
  color: $black;
  margin: 0;
  padding-top: 75px;
}  

.display-none {
  display: none;
}

.no-scroll {
  margin: 0;
  height: 100%;
  overflow: hidden;
}
