@font-face {
  font-family: 'Cocogoose';
  src: url(/cocogoose/Cocogoose_trial.otf) format("truetype");
}

@font-face {
  font-family: 'Cocogoose';
  src: url(/cocogoose/Cocogoose_trial.otf) format("truetype");
}

header {
  background-color: rgba(244, 244, 244, 0.8);
  padding: 16px 30px 6px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

header img {
  width: 40px;
  cursor: pointer;
}

header .logo {
  display: none;
}

header nav {
  display: none;
}

#mobile-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 60px 30px 60px 60px;
  background-color: rgba(255, 255, 255, 0.8);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  color: #ec5242;
  font-size: 36px;
  font-weight: 700;
}

#mobile-menu li {
  margin-bottom: 10px;
}

#mobile-menu i {
  float: right;
  margin-right: 30px;
  cursor: pointer;
}

.headline-section {
  background-color: #f4f4f4;
  padding: 30px 20px 80px 20px;
}

.headline-section .p1 {
  color: #ec5242;
  font-size: 22px;
  margin-bottom: 8px;
}

.headline-section h1 {
  color: #ec5242;
  font-family: "Cocogoose", sans-serif;
  font-size: 34px;
  line-height: 40px;
  margin-bottom: 20px;
}

.headline-section .p2-container {
  font-weight: 600;
  line-height: 24px;
  font-size: 15px;
  border: 4px solid white;
  padding: 15px;
  margin-bottom: 20px;
  color: #746f6f;
}

.headline-section .p3 {
  font-family: "Cocogoose", sans-serif;
  font-size: 28px;
  margin-bottom: 5px;
}

.headline-section .p4 {
  font-size: 17px;
}

@media only screen and (min-width: 768px) {
  #hamburger-menu {
    display: none;
  }
  header {
    background-color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-left: 15%;
    padding-right: 15%;
  }
  header .logo {
    display: initial;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    margin-right: 30px;
  }
  header .logo a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 2px;
    font-weight: 700;
  }
  header .logo span {
    font-size: 15px;
  }
  header nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 50px;
  }
  header nav ul li:nth-child(1) {
    color: #ec5242;
  }
  header nav button {
    margin-left: 50px;
    border: 4px solid #ec5242;
    padding: 10px 15px;
    background-color: white;
    color: #ec5242;
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
  .headline-section {
    padding: 8% 15% 12%;
  }
  .headline-section .p1 {
    font-size: 36px;
  }
  .headline-section h1 {
    font-size: 52px;
    font-weight: 400;
    line-height: 48px;
    max-width: 500px;
  }
  .headline-section .p2-container {
    max-width: 500px;
  }
}

@font-face {
  font-family: 'Cocogoose';
  src: url(/cocogoose/Cocogoose_trial.otf) format("truetype");
}

#program-section {
  background-color: #272a31;
  padding: 40px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#program-section h3 {
  color: white;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 26px;
}

#program-section button {
  background-color: #ec5242;
  color: white;
  font-size: 20px;
  padding: 30px 40px;
  margin-top: 40px;
  cursor: pointer;
  border: none;
}

#programs-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-auto-rows: 1fr;
  row-gap: 10px;
}

#programs-container .program-container {
  background-color: #474b54;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
}

#programs-container .program-container p {
  font-size: 14px;
  color: white;
  line-height: 24px;
}

#programs-container .program-container div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#programs-container .program-container div i {
  font-size: 34px;
  margin-right: 12px;
  color: white;
}

#programs-container .program-container div p {
  color: #ec5242;
  font-size: 18px;
  font-weight: 600;
}

@media only screen and (min-width: 768px) {
  #program-section {
    padding: 5% 15% 8%;
  }
  #program-section h3 {
    font-size: 25px;
  }
  #program-section button {
    background-color: inherit;
    border-bottom: 1px solid white;
    padding: 0;
    margin-top: 70px;
  }
  #programs-container {
    -ms-grid-columns: (200px)[5];
        grid-template-columns: repeat(5, 200px);
    -ms-grid-rows: fit-content;
        grid-template-rows: -webkit-fit-content;
        grid-template-rows: fit-content;
    -webkit-column-gap: 4px;
            column-gap: 4px;
  }
  #programs-container .program-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  #programs-container .program-container div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #programs-container .program-container div i {
    margin-bottom: 8px;
    margin-right: 0;
  }
  #programs-container .program-container div p {
    font-size: 20px;
  }
}

@font-face {
  font-family: 'Cocogoose';
  src: url(/cocogoose/Cocogoose_trial.otf) format("truetype");
}

#speakers-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px 20px 30px 30px;
}

#speakers-section h3 {
  font-size: 22px;
  margin-bottom: 50px;
}

#speakers-section h3 hr {
  width: 50px;
  border-top: none;
  border-width: 2px;
  border-color: #ec5242;
}

#speakers-section .speaker-container {
  position: relative;
  z-index: -10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5%;
  margin-bottom: 50px;
}

#speakers-section .speaker-container .checkboard {
  width: 60px;
  position: absolute;
  top: -15px;
  left: -16px;
  z-index: -100;
}

#speakers-section .speaker-container .speaker-img {
  width: 125px;
  height: 125px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: bottom;
     object-position: bottom;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

#speakers-section .speaker-container .name {
  font-size: 20px;
  margin-bottom: 8px;
}

#speakers-section .speaker-container .role {
  color: #ec5242;
  font-style: italic;
  font-size: 16px;
}

#speakers-section .speaker-container hr {
  width: 30px;
  border-color: #d3d3d3;
  margin: 8px 0;
}

#speakers-section .speaker-container .description {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
}

#speakers-section .more-btn {
  border: 1px solid #d3d3d3;
  background-color: white;
  color: #272a31;
  width: 100%;
  padding: 18px;
  font-size: 16px;
  cursor: pointer;
}

#speakers-section .more-btn i {
  color: #ec5242;
  margin-left: 8px;
}

#speakers-section .speaker-container:nth-child(2),
#speakers-section .speaker-container:nth-child(3),
#speakers-section .speaker-container:nth-child(4),
#speakers-section .speaker-container:nth-child(5) {
  display: none;
}

@media only screen and (min-width: 768px) {
  .more-btn {
    display: none;
  }
  #grid-container {
    display: -ms-grid;
    display: grid;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-grid-columns: (50%)[2];
        grid-template-columns: repeat(2, 50%);
    -ms-grid-rows: 3;
        grid-template-rows: 3;
    -webkit-column-gap: 15px;
            column-gap: 15px;
  }
  #grid-container .speaker-container:nth-child(2),
  #grid-container .speaker-container:nth-child(3),
  #grid-container .speaker-container:nth-child(4),
  #grid-container .speaker-container:nth-child(5) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.about-headline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding-bottom: 50px;
}

.about-headline .about-h1 {
  margin-bottom: 36px;
}

.about-headline .about-p2-container {
  background-color: white;
  border: 1px solid #d3d3d3;
  padding: 20px;
  margin-bottom: 26px;
}

.about-headline .about-p5 {
  font-size: 14px;
  font-weight: 600;
  color: #5e6067;
  max-width: 85%;
  line-height: 24px;
}

.about-headline .about-p5 span {
  color: initial;
  border-bottom: 1px solid;
}

.about-h3 {
  font-size: 22px;
  max-width: 80%;
  margin-bottom: 20px;
  line-height: 30px;
}

.logo-description {
  font-size: 15px;
  max-width: 80%;
  line-height: 22px;
  margin-bottom: 40px;
}

.logo-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 30px 20px 50px;
  border-bottom: 1px solid #d3d3d3;
}

.logo-section .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -ms-flex-direction: row;
      flex-direction: row;
  width: 100%;
  padding: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #d3d3d3;
  font-weight: 600;
}

.logo-section .logo img {
  width: 90px;
}

.logo-section .logo p {
  font-size: 34px;
  line-height: 34px;
  text-align: start;
}

.logo-section .logo p span {
  font-size: 30px;
}

.past-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 40px;
}

.past-section div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  width: 100%;
  height: 220px;
  margin-bottom: 20px;
  color: white;
  background: url(/images/dogs1.jpeg) no-repeat;
  background-size: cover;
  -webkit-box-shadow: inset 0 0 0 1000px rgba(178, 24, 7, 0.7);
          box-shadow: inset 0 0 0 1000px rgba(178, 24, 7, 0.7);
}

.past-section div p {
  font-size: 34px;
  font-weight: 700;
}

.past-section div p span {
  font-size: 15px;
  font-weight: 400;
}

.past-section .event2 {
  background: url(/images/dogs2.jpeg) no-repeat;
  background-size: cover;
}

.sponsor-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  background-color: #272a31;
  color: white;
  padding: 30px 10px;
}

.sponsor-section .sponsor-images div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 35px;
}

.sponsor-section .sponsor {
  max-width: 100px;
  color: gray;
  -webkit-filter: invert(70%) sepia(1%) saturate(4%) hue-rotate(16deg) brightness(91%) contrast(90%);
          filter: invert(70%) sepia(1%) saturate(4%) hue-rotate(16deg) brightness(91%) contrast(90%);
}

p,
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

button {
  font-family: "Lato", sans-serif;
}

body {
  font-family: "Lato", sans-serif;
  color: #272a31;
  margin: 0;
  padding-top: 51px;
}

.display-none {
  display: none;
}

.no-scroll {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

.sponsor-section-home {
  display: none;
}

@media only screen and (min-width: 768px) {
  .sponsor-section-home {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .sponsor-section .about-h3 {
    color: #d3d3d3;
    font-weight: 400;
  }
  .sponsor-section .sponsor-images {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 35px;
  }
}
/*# sourceMappingURL=style.css.map */