@import 'variables';
@import 'header-headline';
@import 'program';
@import 'speakers';
@import 'about';

p,
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

button {
  font-family: $lato;
}

body {
  font-family: $lato;
  color: $black;
  margin: 0;
  padding-top: 51px;
}

.display-none {
  display: none;
}

.no-scroll {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

.sponsor-section-home {
  display: none;
}

@media only screen and (min-width: 768px) {
  .sponsor-section-home {
    display: flex;
  }

  .sponsor-section {
    .about-h3 {
      color: $gray;
      font-weight: 400;
    }

    .sponsor-images {
      display: flex;
      gap: 35px;
    }

    hr {
      display: initial;
      width: 30px;
      height: 1px;
      background-color: $red;
      border: none;
      margin-bottom: 15px;
    }
  
  }
}