@import 'header';

@font-face {
  font-family: 'Cocogoose';
  src: url(/cocogoose/Cocogoose-Pro-trial.ttf) format('truetype');
}

$black: #272A31;
$red: #EC5242;
$gray: #D3D3D3;
$coco: 'Cocogoose', sans-serif;
$lato: 'Lato', sans-serif;

body {
}  
